.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  &__fav-outline,
  &__fav-filled {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 35px;
  }

  &__fav-outline {
    color: black;
  }

  &__fav-filled {
    color: red;
  }

  &__content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    max-width: 250px;
    position: relative;
    padding-bottom: 1rem;
  }

  &__content--selected {
    outline: 20px outset yellow;
  }

  &__button,
  &__button-home,
  &__reroll-button {
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: greenyellow;
    border-radius: 16px;
    font-weight: 900;
  }

  &__button {
    margin-top: 2rem;
  }

  &__button-home {
    background-color: dodgerblue;
    color: white;
  }

  &__img {
    max-width: 100%;
    border-radius: 4px;
  }

  &__header {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: #6f2ed8;
    margin: 12px 0 7px 0;
    font-size: 1rem;
  }
}
