* {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 18rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  background-color: greenyellow;
  border-radius: 16px;
  font-weight: 900;
}

ul {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

li {
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: orange;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 1rem;
  outline: 11px solid seagreen;
  font-weight: 700;
  color: black;
}

.start-link {
  display: inline-block;
  width: 83%;
  font-size: 18px;
  font-weight: 600;
  outline: 1px solid black;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  background-color: rgb(53, 151, 216);
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
